<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">

		<intercept-url pattern="/startup**" access="ROLE_ADMIN" />
		<intercept-url pattern="/test**" access="ROLE_ADMIN" />
		<intercept-url pattern="/test/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/class**" access="ROLE_ADMIN" />
		<intercept-url pattern="/class/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/user**" access="ROLE_ADMIN" />
		<intercept-url pattern="/user/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/editTest**" access="ROLE_ADMIN" />
		<intercept-url pattern="/editTest/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/testStatistics**" access="ROLE_ADMIN" />
		<intercept-url pattern="/testStatistics/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/studentStatistics**" access="ROLE_ADMIN" />
		<intercept-url pattern="/studentStatistics/**" access="ROLE_ADMIN" />


		<form-login login-page="/" default-target-url="/startup"
			authentication-failure-url="/?error" username-parameter="username"
			password-parameter="password" />
	</http>

	<beans:bean id="customAuthenticationProvider" class="auth.provider.CustomAuthenticationProvider" />
	<authentication-manager>
		<authentication-provider ref="customAuthenticationProvider" />
	</authentication-manager>

</beans:beans>